@font-face {
    font-family: "Nunito-Sans";
    src: url("../fonts/NunitoSans-Regular.ttf") format("ttf");
    font-weight: 400;
}

/* @font-face {
    font-family: "Nunito-Sans";
    src: url("../fonts/NunitoSans-Bold.ttf") format("ttf");
    font-weight: bold;
} */

@font-face {
    font-family: "Yeseva-One";
    src: url("../fonts/YesevaOne-Regular.ttf") format("ttf");
}

* {
    font-family: "Nunito-Sans", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3 {
    font-family: "Yeseva-One";
    color: #fff;
    text-transform: uppercase;
}

.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}

/* header */

.header {
    background: #131313;
}

.header .container {
    padding: 24px 90px;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #e3b873;
}

.menu {
    display: flex;
}

.menu__item {
    padding-right: 45px;
}

.menu__item:last-child {
    padding-right: 0;
}

.menu__item:hover {
    color: #e3b873;
}

.phone__container {
    display: flex;
    align-items: center;
}

.phone__number {
    text-decoration: underline;
    color: #e3b873;
    margin-right: 45px;
}

.button {
    background: #e3b873;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    text-transform: uppercase;
    border: 0;
}

.button-phone {
    padding: 13px 33px;
}

.button:hover {
    cursor: pointer;
    background: rgb(190, 136, 48);
}

/* main */

.banner {
    background: url("../img/bg-banner.jpg") no-repeat;
    background-size: 100% 100%;
}

.banner .container {
    flex-direction: column;
    padding: 194px 0 204px 134px;
}

.banner__container {
    display: flex;
    flex-direction: column;
    max-width: 676px;
}

.banner__title {
    font-size: 40px;
    line-height: 53px;
    max-width: 524px;
}

.gold {
    font-family: "Yeseva-One";
    color: #e3b873;
}

.banner__text {
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    max-width: 524px;
    margin-top: 19px;
}

.banner__buttons {
    display: flex;
}

.button-calculate {
    padding: 19px 42px;
    margin-right: 20px;
}

.button-submit {
    background: none;
    box-shadow: none;
    border: 1px solid #fff;
    padding: 19px 22px;
}

.button-submit:hover {
    background: rgba(0, 0, 0, 0.4);
}

/* slide */

.slide {
    background: #131313;
}

.slider {
    margin: 107px 135px 415px 135px;
}

.slide__item {
    display: flex;
    justify-content: space-between;
}

.slide__info {
    display: flex;
    flex-direction: column;
    min-width: 442px;
    align-self: center;
}

.slide__title,
.slide__char__title {
    color: #e3b873;
}

.slide__title {
    font-size: 27px;
    max-width: 257px;
    line-height: 37px;
}

.slide__text,
.slide__char__text {
    color: #fff;
    margin-top: 34px;
    font-size: 14px;
    line-height: 27px;
}

.slide__char {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 76px);
    margin-top: 42px;
}

.slide__char__item {
    display: flex;
    flex-direction: column;
}

.slide__char__text {
    padding: 0;
    margin: 0;
    font-size: 13px;
    max-width: 100px;
}

.slide__photo {
    display: flex;
    flex-direction: column;
    min-width: 679px;
    margin-left: 50px;
}

.slide__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.slide__list__item {
    padding-bottom: 7px;
}

.slide__img {
    width: 679px;
    height: 482px;
    margin-top: 45px;
}

.slide__list__title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

.cheked {
    border-bottom: 1px solid #e3b873;
}

.cheked .slide__list__title {
    color: #e3b873;
}

.slider__nav {
    width: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 42px;
    height: 18px;
    border: none;
    background-size: cover;
    cursor: pointer;
}

.arrow__left {
    background: url("../img/arrow-left.svg") no-repeat center;
}

.arrow__right {
    background: url("../img/arrow-right.svg") no-repeat center;
}

.radio__container {
    width: 64px;
    display: flex;
    justify-content: space-between;
}

.slider__radio {
    display: none;
}

.slider__label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.slider__label:hover,
#s1:checked ~ .slider__label:nth-of-type(1),
#s2:checked ~ .slider__label:nth-of-type(2),
#s3:checked ~ .slider__label:nth-of-type(3) {
    background: rgba(255, 255, 255);
}
