@font-face {
    font-family: "Nunito-Sans";
    src: url("../fonts/NunitoSans-Regular.ttf") format("ttf");
    font-weight: 400;
}

/* @font-face {
    font-family: "Nunito-Sans";
    src: url("../fonts/NunitoSans-Bold.ttf") format("ttf");
    font-weight: bold;
} */

@font-face {
    font-family: "Yeseva-One";
    src: url("../fonts/YesevaOne-Regular.ttf") format("ttf");
}

* {
    font-family: "Nunito-Sans", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

h1,
h2,
h3 {
    font-family: "Yeseva-One";
    color: #fff;
    text-transform: uppercase;
}

.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
}

/* header */

.header {
    background: #131313;
}

.header .container {
    padding: 24px 90px;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #e3b873;
}

.menu {
    display: flex;
}

.menu__item {
    padding-right: 45px;
}

.menu__item:last-child {
    padding-right: 0;
}

.menu__item:hover {
    color: #e3b873;
}

.phone__container {
    display: flex;
    align-items: center;
}

.phone__number {
    text-decoration: underline;
    color: #e3b873;
    margin-right: 45px;
}

.button {
    background: #e3b873;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    text-transform: uppercase;
    border: 0;
}

.button-phone {
    padding: 13px 33px;
}

.button:hover {
    cursor: pointer;
    background: rgb(190, 136, 48);
}

/* banner */

.banner {
    background: url("../img/bg-banner.jpg") no-repeat;
    background-size: 100% 100%;
}

.banner .container {
    flex-direction: column;
    padding: 194px 0 204px 134px;
}

.banner__container {
    display: flex;
    flex-direction: column;
    max-width: 676px;
}

.banner__title {
    font-size: 40px;
    line-height: 53px;
    max-width: 524px;
}

.gold {
    font-family: "Yeseva-One";
    color: #e3b873;
    font-size: 40px;
}

.banner__text {
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    max-width: 524px;
    margin-top: 19px;
}

.banner__buttons {
    display: flex;
}

.button-calculate {
    padding: 19px 42px;
    margin-right: 20px;
}

.button-submit {
    background: none;
    box-shadow: none;
    border: 1px solid #fff;
    padding: 19px 22px;
}

.button-submit:hover {
    background: rgba(0, 0, 0, 0.4);
}

/* slide */

.slide {
    background: #131313;
}

.slider {
    margin: 107px 135px 415px 135px;
}

.slide__item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 552px;
}

.slide__info {
    display: flex;
    flex-direction: column;
    max-width: 442px;
    margin-top: 60px;
}

.slide__title,
.slide__char__title {
    color: #e3b873;
}

.slide__char__title {
    font-size: 18px;
}

.slide__title {
    font-size: 27px;
    max-width: 257px;
    line-height: 37px;
}

.slide__text,
.slide__char__text {
    color: #fff;
    margin-top: 34px;
    line-height: 27px;
}

.slide__char {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 76px);
    grid-row-gap: 34px;
    margin-top: 42px;
}

.slide__char__item {
    display: flex;
    flex-direction: column;
}

.slide__char__text {
    padding: 0;
    margin: 0;
    font-size: 13px;
    max-width: 100px;
}

.slide__photo {
    display: flex;
    flex-direction: column;
    min-width: 679px;
    margin-left: 50px;
}

.slide__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.slide__list__item {
    padding-bottom: 7px;
}

.slide__img {
    width: 679px;
    height: 482px;
    margin-top: 45px;
}

.slide__list__title {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
}

.cheked {
    border-bottom: 1px solid #e3b873;
}

.cheked .slide__list__title {
    color: #e3b873;
}

.slider__nav {
    width: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    width: 42px;
    height: 18px;
    border: none;
    background-size: cover;
    cursor: pointer;
}

.arrow__left {
    background: url("../img/arrow-left.svg") no-repeat center;
}

.arrow__right {
    background: url("../img/arrow-right.svg") no-repeat center;
}

.radio__container {
    width: 64px;
    display: flex;
    justify-content: space-between;
}

.slider__radio {
    display: none;
}

.slider__label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.slider__label:hover,
#s1:checked ~ .slider__label:nth-of-type(1),
#s2:checked ~ .slider__label:nth-of-type(2),
#s3:checked ~ .slider__label:nth-of-type(3) {
    background: rgba(255, 255, 255);
}

/* video */

.video {
    margin-top: -257px;
}

.video .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.video__title {
    margin-bottom: 12px;
    font-size: 20px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 114px;
}

.line {
    height: 1.5px;
    background: #e3b873;
}

.line-small {
    width: 32px;
}

.line-large {
    width: 55px;
}

.icon__camera {
    width: 33px;
    height: 28px;
    background: url("../img/camera.svg") no-repeat center;
}

.videoplayer {
    width: 817px;
    height: 434px;
    margin-top: 31px;
}

.opacity {
    width: 817px;
    height: 434px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -434px;
}

.play {
    width: 85px;
    height: 85px;
    background: #e3b873;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.play::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background: url("../img/play.svg") no-repeat center;
    right: 25px;
    top: 25px;
}

.video__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 62.5px;
    max-width: 681px;
}

.video__text {
    margin-top: 34px;
    text-align: center;
    font-size: 18px;
    line-height: 37px;
}

.form {
    display: flex;
    margin-top: 94px;
    max-width: 769px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input__container {
    display: flex;
    flex-direction: column;
}

.form__label {
    color: rgba(54, 54, 54, 0.5);
    font-size: 13px;
}

.form__input {
    border: none;
    outline: none;
    background: none;
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #3636364d;
    color: #363636;
    width: 231px;
}

.button-form {
    padding: 20px 75px;
}

.checkbox__container {
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox__label {
    color: #131313;
}

.checkbox + .checkbox__label {
    display: inline-flex;
    align-items: center;
}

.checkbox + .checkbox__label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    border: 1px solid #e3b873;
    border-radius: 1px;
    background-size: 50% 50%;
}

.checkbox:checked + .checkbox__label::before {
    background: #e3b873 url("../img/check.svg") no-repeat center;
}

/* cards */

.cards {
    margin-top: 147px;
}

.cards .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.cards__title {
    font-size: 20px;
    color: #181818;
    margin-bottom: 13px;
}

.icon__repair {
    width: 33px;
    height: 28px;
    background: url("../img/repair.svg") no-repeat center;
}

.cards__container {
    display: flex;
    margin-top: 31px;
}

.card {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.card:first-child {
    margin-left: 0;
}

.card__img {
    width: 392px;
    height: 421px;
}

.redecorating {
    background: url("../img/card-img-1.jpg") no-repeat;
}

.overhaul {
    background: url("../img/card-img-2.jpg") no-repeat;
}

.designer-repair {
    background: url("../img/card-img-3.jpg") no-repeat;
}

.list__container {
    background: #ffffff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 25px 29px 49px 34px;
    align-self: center;
    margin-top: -140px;
}

.card__title {
    color: #363636;
    font-size: 18px;
    margin-bottom: 13px;
}

.card__list {
    color: #959595;
    font-size: 13px;
    line-height: 27px;
}

.card__price {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'YesevaOne-Regular';
    background: #e3b873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    color: #fff;
    padding: 17px 21px;
    width: 228px;
    margin-left: 31px;
    margin-top: -30px;
}